<h1>Add a Recipe</h1>

<form method="POST" action="/recipes/createRecipe">
    <input type="text", placeholder="name", name="name">
    <input type="checkbox", name="madeBefore">
    <input type="submit">
</form>