<h3>Add a Recipe</h3>

<form method="POST" action="/recipes/createRecipe">
    <input type="text", placeholder="name", name="name">
    <input type="checkbox", name="madeBefore">
    <input type="text", placeholder="source", name="source">
    <input type="submit">
</form>