<%- include('../partials/header') -%>
<h1>Find a Recipe</h1>
<form method="POST" action="/recipes/searchRecipes">
    <input type="text", placeholder="Search by Name", name="name">
    <input type="submit">
</form>
<%- include('../partials/viewRecipes.ejs') -%>

<%- include('../partials/footer') -%>